[submodule "fanuc_ros2_driver/fanuc_ros2_driver/FANUC-Ethernet_IP_Drivers"]
	path = fanuc_ros2_driver/fanuc_ros2_driver/FANUC-Ethernet_IP_Drivers
	url = https://github.com/UofI-CDACS/FANUC-Ethernet_IP_Drivers.git
